<<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jokebot Web</title>
</head>
<body>

  <div class="jumbotron bg-accent-2 text-white mb-0 row bg-primary">
  <div class="container animated fadeInUp col-md-8">
    <div class="ml-auto float-md-right">
      <%= image_tag("jokebot-avatar.png", size: "250x250",:alt => "jokebot-avatar") %>
    </div>
      <h1 class="display-4 text-white">Jokebot Web</h1>
      <div class="lead mb-3">Placeholder Text for Something</div>

      <div class="mt-4">
        <a href="#!"
           class="btn btn-outline-light btn-hover-text-accent-2 btn-lg my-3 mx-1 text-left">
          <span>A Button</span>
        </a>

        <a href="#!"
           class="btn btn-outline-light btn-hover-text-accent-2 btn-lg my-3 mx-1 text-left">
          <span>A Button</span>
        </a>
      </div>
  </div>
</div>
  <div class="container py-5">
    <h1>Header</h1>

    <p>A bunch of placeholder text because I dont know what to write here<br>
    <a href="https://github.com/Dielerorn/jokebot">https://github.com/Dielerorn/jokebot</a>
    </p>

  </div>
</body>
</html>
